<footer class="f-info border-top">
    <div class="f-social-icons">
      <a class="f-link" href="https://www.linkedin.com/in/aayush-aeron-8a628a255/">
        <i class="fa-brands fa-linkedin" href></i>
      </a>
      <a class="f-link" href="https://github.com/AayushAeron13/">
        <i class="fa-brands fa-github"></i>
      </a>
      <a class="f-link" href="https://www.facebook.com/aayushaeron/">
        <i class="fa-brands fa-square-facebook"></i>
      </a>
      <a class="f-link" href="https://www.instagram.com/aayush.aeron/">
        <i class="fa-brands fa-square-instagram"></i>
      </a>
    </div>
    <div class="f-brand">&copy; 2025 YatraNest Inc.</div>
    <div class="f-docs">
      <a class="f-link" href="/privacy">Privacy</a>&nbsp;&#183;
      <a class="f-link" href="/terms">Terms</a>
    </div>
  </footer>