body {
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display:flex;
    flex-direction:column;
    min-height: 100vh;
}
.container{
    flex:1;
}
.navbar{
    height:4.6rem;
    background-color: white;
    margin-bottom:10px;
}
.fa-om{
    color:orange;
    font-size:2rem;
}
.nav-link{
    color: black !important;
}
.f-link{
    text-decoration: none;
    color: #222222;
    margin-right: 15px;
}
.f-info div{
    width: 100%;
}
.f-info{
    padding-top:16px;
    display: flex;
    flex-direction: column;
    text-align: center;
    height:100px;
    background-color: lightgray;
}
.f-social-icons{
    font-size: 1.2rem;
    margin-right: 10px;
}
.f-docs a:hover{
   text-decoration: underline;
}
.f-brand{
    font-size: 1.2rem;
}
.f-docs{
    font-size: 15px;
}
card-container{
    padding-left: 40px !important;
}
/* .card{
     border:none !important; 
} */
.no-border {
    border: none !important;
}
.card-body{
    padding-top: 0 !important;
}
.card-title{
    font-weight: bold;
}
.card-text{
    margin: 0px !important;
    margin-left: -10px !important;
}
.card-img-top{
    object-fit: cover !important;
    width: 100% !important;
    border-radius: 2rem !important;
    height: 326px !important;
}
.listing_link{
    text-decoration: none;
}
.card-img-overlay{
    opacity:0;
}
.card-img-overlay:hover{
    opacity:0.2;
    background-color: white;
}
.add-btn{
    background-color: orange !important;
    border:none !important
}
.edit-btn{
    background-color: orange !important;
    border:none !important
}
.show-img{
    height: 30vh;
}
.btns{
    display:flex;
}
.show-card{
    padding-left: 0;
    padding-right: 0;
}